.main-section4{
background-color: #212121;
}
.wrapper__main-section4{
	display: flex;

}
.pages-widget{
	margin-right: 30px;
	margin-left: 375px;
	margin-bottom: 77px;
}
.name-wiget{
	margin-top: 50px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 18px;
color:#fff;
margin-bottom: 30px;
}
.social{
	margin-top: 15px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color:#fff;
}
.home{
	letter-spacing: 1px;
	font-size: 14px;
	margin-left: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color:#bdbdbd;
	text-transform: uppercase;
}
.wiget-line{
	margin-top: 5px;
	border-radius: 5px;
	display: flex;
	justify-content:space-between;
	align-items:center;
width: 270px;
height: 45px;
border:1px solid#757575;
}
.wiget-line a{
	color:#757575;
	margin-right: 15px;
}
.stealth-ul{
	border-radius: 5px;
	width: 272px;
}
.link-list{
	border:1px solid#757575;
	list-style-type: none;

}
.link-list li a{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size:15px ;
	color:#757575;
}
.link-list li{
	margin: 13px;
}
.twitter-wiget{
	margin-right: 30px;
}
.koko{
	display: flex;
}
.container__twitter-wiget img{
	margin-right: 15px;
	width: 22px;
	height: 18px;

}
.twitter-post{
	font-size: 14px;
	color:#bdbdbd;
	font-family: 'Open Sans', sans-serif;

}
.second-word{
}
.list-info{
width: 270px;
display: block;
list-style-type: none;
display: flex;
margin-bottom: 10px;
}
.line-list-info{
	border-bottom: 1px solid#3c3c3c;
}
.list-info li{
	font-size: 15px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	color:#898989;

}
.list-info li a{
	color:#898989;

	
}
.social-links__social-wiget{
	display: flex;
}
.ellepse-link2{
	margin-top: 10px;
	display: flex;
	justify-content:center;
	align-items:center;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	margin-right: 10px;
}
.ellepse-link2 a{
	color:#fff;
}
.flickr-wiget{
	margin-right: 15px;
}
.flickr-wiget img {
	margin-bottom: 8px;
	margin-right: 8px;
	vertical-align: bottom;
}
.News-letter input{
	margin-bottom: 10px;
	color:#fff;
	outline: none;
	width: 250px;
	height: 45px;
	background-color: transparent;
	border: 1px solid#757575;
	border-radius: 5px;
}
#big-input{
	padding: 0 10px;
	height: 120px;
}
.button__letter{
	outline: none;
	color:#fff;
	background-color: #303030;
	border-radius: 5px;
	height: 40px;
	width: 272px;
	border: none;
	text-transform: uppercase;

}
#name-input{
padding: 0 10px;
}
#email-input{
	padding: 0 10px;

}
