*{
	margin: 0;
	padding: 0;
}

.main-section1{

}
.header-line{
background-color: black;
}
.wrapper{
	height: 40px;
	display: flex;
	justify-content:space-between;
	align-items:center;
	margin-right: 375px;
	margin-left:375px;
}
.links-list{

}
.1111{
	display: flex;
	align-items:center;

}
.img-language{
padding-left: 15px;
}
.sign-in{
	font-size: 12px;
	padding-right: 15px;
	border-right: 1px solid#545454;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color:#8c8c8c;
}
.links-list ul {
display: flex;
list-style-type: none;
}
.links-list ul li {
margin-right: 14px;
}
.links-list ul li a {
color:#707070;
}

.button-language{

}
.Eng{
font-size: 12px;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
color:#848484;
text-transform: uppercase
}
.header-logo{
margin-top: 20px;
letter-spacing: 2px;

}
.bg2{
	background: url("../img/Layer 66.jpg") no-repeat center top;
}
.bg-black{
	
	background-color: rgba(60,60,60,0.8);
}
.slider-arrows{
}
.slider-arrows a{
	color:#fff;
	
}
.right-arrow{
margin-right: 25px;
margin-top: 18.9%;
float: right;
}
.right-arrow a{
	font-size: 42px;
}
.left-arrow a{
font-size: 42px;
}
.left-arrow{
margin-left: 33px;
margin-top: 18.9%;
float: left;

}
.bg{
	margin-right: 375px;
	margin-left: 375px;
	display: flex;
	align-items:center;
	justify-content:space-between;
}
.logo-text{

	text-transform: uppercase;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color:#fff;
}
.header-menu{
margin-left: 106px;
margin-top: 20px;
}
.header-menu ul {
list-style-type: none;
display: flex;

}
.header-menu ul li {
	font-size: 14px;
	margin-right: 30px;

}
.fa-angle-down{
	margin-left: 10px;
}
.header-menu ul li a i {

}
.header-menu ul li a {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-decoration: none;
	color:#fff;
	padding-bottom: 25px;

}
.header-menu ul li a:hover{
	border-bottom: 3px solid#ff4081;
}
.header-functions{
	margin-top: 27px;
}
.header-functions a{
	font-size: 18px;
	margin: 5px;
	color:#fff;
}
.vertical-line{
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid#5c5c5b;
	border-right: 1px solid#5c5c5b;

}
.main-content1{
	margin-top: 235px;
	text-align: center;
}
.uptitle{
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color:#bdbdbd;
	font-size: 20px;
}
.main-content1__title{
word-spacing: 5px;
letter-spacing: 1px;
	color:#fff;
	margin-top: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 42px;
	text-transform: uppercase;
}
.main-content1__button{
	word-spacing: 3px;
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: 30px;
	text-transform: uppercase;
	width: 170px;
	height: 45px;
	border-radius: 30px;
	border: none;
	background-color: #303f9f;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;

}
.mini-card{
	margin-top: 80px;
}
.mini-card__title__name{
	letter-spacing: 1px;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-top: 10px;
	font-size: 14px;

}
.date{
	color:#9c9c9c;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	display: block;
	margin-top: 10px;
}
.mini-card__functions{
	padding-bottom: 70px;
	margin-left: 30px;
	margin-top: 28px;
}
.mini-card__functions a{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	margin-right: 30px;
	text-decoration: none;
	color:#bdbdbd;
}
.sort{
	border-bottom: 1px solid#dddddd;
}
.white-line__wrapper{
	display: flex;
	align-items:center;
	height: 60px;
	margin-right: 375px;
	margin-left: 375px;
}
.white-line__wrapper span{
	letter-spacing: 0.5px;
	font-size: 11px;
	margin-right: 20px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color:#000;
	font-weight: 700;
}
.white-line__wrapper button{
	margin-right: 15px;
	font-family: 'Montserrat', sans-serif;

}
.white-line__wrapper button:hover{
	background-color: #fff;
	border: 1px solid#5060bb;
	color:#5060bb;
	cursor: pointer;
}

.small-button{
border-radius:15px;
border: none; 
width: 80px;
height: 30px;
background-color: #f5f5f5;
text-transform: uppercase;

}
.big-button{
	border-radius: 15px;
	border: none;
text-transform: uppercase;
background-color: #f5f5f5;
width: 150px;
height: 30px;
}
.medium-button{
	border: none;
	border-radius: 15px;
	text-transform: uppercase;
	background-color: #f5f5f5;
	width: 120px;
	height: 30px;

}