.main-content4{
background-color:#ffcc00;
margin-left: 230px;
margin-right: 230px;
}
.section-title4{
	display: flex;
	justify-content:flex-end;
	color:#950303;
	font-family: 'Ubuntu', sans-serif;
	font-size: 72px;
	margin-right: 120px;
	padding-top: 83px;

}
.photos-container{
	width: 83%;
	margin-top: 59px;
	padding-bottom: 146px;

}
.slider-item{
}
.center-slider{
	display: flex;
	justify-content:center;
}
