
.main-content9{
	white-space: nowrap;
	display: flex;
background-color: #950303;
margin-left: 230px;
margin-right: 230px;
}
.section-title9{
	padding-top:89px;
	margin-left: 120px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 72px;
	opacity: 0.7;
	color:#fff;

}
.container-main9{
}
.wrapper-main-content9{
	margin-left: 120px;
	padding-bottom: 100px;
}
.work-time{
	margin-top: 52px;

}
.work-time span{
	font-size: 17px;
	color:#fff;
	font-family: 'Ubuntu', sans-serif;

}
.addres{
	margin-top: 30px;

}
.addres span{
	letter-spacing: 0.4px;
	font-size: 17px;
	color:#fff;
	font-family: 'Ubuntu', sans-serif;

}
.phone-number{
margin-top: 30px;
}
.phone-number span{
	color:#fff;
	font-size: 17px;
	letter-spacing: 0.4px;
	font-family: 'Ubuntu', sans-serif;

}
.phone-number a{
	text-decoration: none;
	letter-spacing: 0.4px;
	font-size: 17px;
	color:#fff;
	font-family: 'Ubuntu', sans-serif;

}
.post{
	margin-top: 30px;

}
.post span{
	letter-spacing: 0.4px;
	font-size: 17px;
	color:#fff;
	font-family: 'Ubuntu', sans-serif;

}
.google-map{
	margin-right: 120px;
	margin-left: 88px;
	margin-top: 98px;
	width: 690px;
	height: 400px;
	max-width: 100%;
	max-height: 100%;
}