.main-content5{
	background-color: #950303;
margin-left: 230px;
margin-right: 230px;

}
.masters{
	margin-bottom: 55px;
	margin-right: 57px;

}
.red-line{
	margin-bottom: -44px;

}
.masters-name{
	align-items:center;
	opacity: 0.85;
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	height: 37px;
	position: relative;
	bottom: 40px;
	color:#ffffff;
	background-color: #950303;
	background-blend-mode: multiply;
    background-image: linear-gradient(#950303, #950303);
	display: flex;
	justify-content:center;

}
.button-1{
	margin-right: 55px;
	cursor: pointer;
	outline: none;
	border: none;
	width: 200px;
	height: 205px;
	background:url("../img/btn.png");
}
.section-title5{
	opacity: 0.7;
	font-family: 'Ubuntu', sans-serif;
	padding-top: 97px;
	font-size: 72px;
	color:#fff;
	margin-bottom: 40px;
	margin-left: 120px;

}
.wrapper-main-content5{
	margin-left: 120px;
	display: flex;
	flex-wrap:wrap;
}
.button-1-mob{
	display: none;
	margin-top: 20px;
	cursor: pointer;
	outline: none;
	border: none;
	width: 145px;
	height: 147px;
	background:url("../img/btn111111.png");

}
.first-column{

}
.second-column{
}

