
@media (min-width: 320px) and (max-width: 576px) {

	.main-content1{
		display: none;
	}
	.main-content1-main-tablet{
		display: block;
		background:url("../img/photo@2x.png") no-repeat;
		background-size: cover;
	}

	.red-line{
		margin-bottom: -25px;
	}

	.button-1-mob{
		margin-top: 6px;
		display: block;
	}

	
	
	.button-1{
		display: none;
	}
	.masters-name{
		bottom: 30px;
		font-size: 14px;
		height: 27.5px;
	}

	.masters img {
		width: 145px;
		height: 145px;
	}


	.Name-service{
		font-size: 14px;
	}
	.price-service{
		font-size: 14px;
	}
	.desc-title{
		font-size: 16px;
	}

	.toggle-hamburger{
		margin-right: 15px;
	}
	.logo img{
		width: 70px;
		height: 70px;
	}
	.yellow-line{
		height: 60px;
	}
	.img img {
		width: 330px;
		height: 330px;
	}

	#burg{
		display: block;
	}

	.header-menu{
		display: none;
	}

	.text__main-content6{
		font-size: 14px;
	}

	.wrapper-main-content5{
		display: flex;
		justify-content:space-around;
		margin-left: 0;
		padding-bottom: 66px;
	}
	.photos-container{
	width: 290px;
	}



	.first-list{
		margin-left: 60px;
	}
	.second-list{
		margin-right: 60px;
	}

	.desc__about-barber{
		margin-top: 37px;
		font-size: 14px;
		margin-right: 15px;
		margin-left: 15px;
		padding-bottom: 30px;
	}

	.logo{
		margin-left: 15px;
	}
	.main-content1__title{
		letter-spacing: 0.9px;
		margin-right: 19px;
		margin-left: 16px;
	}
	.separating-line{
		width: 250px;
	}
	.separating-linem{
		width: 250px;
		display: block;
	}
	.section-title5{
		margin-left: 60px;
	}
	.section-title6{
		padding-top: 55px;
		margin-left: 15px;
	}
	.wrapper{
		display: flex;
		flex-wrap:wrap;
	}
	.text__main-content6{
		margin-top: 15px;
		margin-left: 15px;
	}
	.section-title7{
		padding-top: 55px;
		margin-left: 15px;
	}
	.double-photo{
		margin-top: 40px;
	}
	.section-title8{
		padding-top: 56px;
		margin-left: 15px;
	}
	.img{
		margin-left: 60px;
	}
	.img{
		display: none;
}
	.section-title9{
		margin-left: 60px;

	}
	.wrapper-main-content9{
		margin-left: 15px;
	}
	.slider-box{
		width: 290px;
		max-width: 100%;
		padding-bottom: 130px;
	}
	.cards-items img {
		width: 300px;
		height: 300px;
	}
	.red-block{
		width: 290px;
	}
	.left-img{
		margin-top: 50px;
	}
	.section-title{
		margin-left: 15px;
		margin-top: 50px;
	}
	.img-kate{
		display: none;
	}
	.double-photo{
		margin-right: 0;
		margin-left: 0;
	}
	.desc__info{
		font-size: 14px;
	}
	.desc__info2{
		font-size: 14px;
	}
	.list-of-true li{
		font-size: 14px;
	}
	.hide-text{
		padding-top: 40px;
	}
	.info-franchi{
		margin-right: 15px;
		margin-left: 15px;
	}


	.header-menu ul li{
		margin-right: 25px;
	}


	.section-title{
		font-size: 28px;
	}
	.section-title3{
		font-size: 28px;
	}
	.section-title4{
		margin-right: 15px;
		padding-top: 55px;
		font-size: 28px;
	}
	.section-title5{
		margin-left: 15px;
		padding-top: 69px;
		font-size: 28px;
	}
	.section-title6{
		font-size: 28px;
	}
	.section-title7{
		font-size: 28px;
	}
	.section-title8{
		font-size: 28px;
	}
	.section-title9{
		margin-left: 15px;
		font-size: 28px;
	}
	.section-title3{
		margin-left: 15px;
	}
	.wrapper-double{
		display: flex;
		flex-direction:column;
		align-items:center;
	}
	.first-list{
		margin-left: 0;
		margin-right: 0;
	}
	.second-list{
		margin-right: 0;
	}
	.left-img{
		display: none;
	}
	.masters{
		margin-bottom: 0;
	margin-right: 0;
	}
	.yellow-block{
		width: 290px;
		height: 58px;

	}
	.name-vacan{
		font-size: 14px;
	}
	.franchise-block{
		display: flex;
		flex-direction:column;
		align-items:center;
	}
	.franchise-item{
		margin-top: 30px;
	}
	.main-content9{
		flex-wrap:wrap;
	}

	.google-map{
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 0;
		}


		.popup-window{
		text-align: center;
		width: 320px;
		max-width: 100%;
	}
	.popup-window input{
		width: 175px;
		max-width: 100%;
	}
	.popup-window textarea{
		width: 220px;
		max-width: 100%;
	}
	.title__popup{
		font-size: 40px;
	}

	.yellow-block2{
		width: 275px;
		height: 75px;
		transform:rotate(0);
		margin-top: 40px;

	}
	.lists-container{
		margin-left: 20px;
		margin-right: 20px;
		position: static;
	}
	.main-content-page2{
		display: block;
	}
	.name-vacan{
		font-size: 16px;
	}
	.titile__main-content-page2{
		text-align: center;
		letter-spacing: 8.6px;
		margin-left: 15px;
		font-size: 30px;
	}
	.head-page2{
		padding-top: 37px;
		display: block;
	}
	.head-page2 i {
		margin-left: 20px;
	}
	.prev{
		margin-left: 5px;
		font-size: 14px;
	}
	.telephon-list{
		font-size: 17px;
	}
	.telephon-list a {
		font-size: 17px;
	}

	.imglo{
		display: none;
	}
	.main-wrapper10{
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.section-title10{
		margin-left: 10px;
		font-size: 26px;
	}
	.second-title{
		margin-right: 10px;
		font-size: 12px;
	}
	.masters-work-slogan{
		font-size: 14px;
	}
	.barber-master-card{
		margin-top: 100px;
	}
	.list-of-skills li{
		font-size: 14px;
	}
	.desc-of-list{
		margin-right: 30px;
		margin-left: 30px;
		font-size: 14px;
	}
	#first-word{
		font-size: 14px;
	}
	#second-word{
		font-size: 14px;
	}
	.text-info-of-school{
		font-size: 14px;
	}
	.desc-of-list{
		text-align: center;
		margin-top:50px;
	}
	.title-block10{
		flex-wrap: wrap;
		padding-top: 55px;
	}
	.title-slogan{
		font-size: 14px;
		margin-top: 20px;
	}
	.barber-master-card img{
		width: 80px;
		height: 120px;
	}
	.barber-master-card{
		margin-top: 30px;
	}
	.text-barber-master-card{
		font-size: 11px;
	}
	.second-title{
		margin-top: 10px;
		margin-left: 10px;
	}
	.main-wrapper10{
		margin-top: 10px;
	}
	.list-of-skills{
		margin-left: 20px;
	}
	.wrapper-list-of-skills{
		padding-top: 10px;
	}
	.info-of-school{
		margin-left: 10px;
		margin-right: 10px;
	}
	.logo{
	}

}



@media (min-width: 576px) and (max-width: 767.98px) {
	.main-content1{
		display: none;
	}
	.main-content1-main-tablet{
		display: block;
	}
	#burg{
		display: block;
	}


	.img img {
		width: 330px;
		height: 330px;
	}


	.header-menu{
		display: none;
	}
	.mobile-header-menu{
	}

	.text__main-content6{
		margin-right: 60px;
		font-size: 14px;
	}

	.wrapper-main-content5{
		justify-content:center;
		margin-left: 60px;
	}
	.photos-container{
	width: 300px;
	}



	.first-list{
		margin-left: 60px;
	}
	.second-list{
		margin-right: 60px;
	}

	.desc__about-barber{
		margin-top: 20px;
		font-size: 14px;
	}

	.logo{
		margin-left: 60px;
	}
	.main-content1__title{
		text-align: center;
		margin-left: 0;
	}
	.left-img{
		margin-left: 60px;
	}
	.separating-line{
		width: 330px;
	}
	.separating-linem{
		display: block;
	}
	.section-title5{
		margin-left: 60px;
	}
	.section-title6{
		padding-top: 30px;
		margin-left: 60px;
	}
	.wrapper{
		padding-top: 93px;
		display: flex;
		flex-wrap:wrap;
	}
	.text__main-content6{
		margin-top: 10px;
		margin-left: 60px;
	}
	.section-title7{
		margin-left: 60px;
	}
	.double-photo{
		margin-left: 60px;
	}
	.section-title8{
		margin-left: 60px;
	}
	.img{
		margin-left: 60px;
	}
	.img img{
		display: none;
}
	.section-title9{
		margin-left: 60px;

	}
	.google-map{
		margin-top: 0;
		margin-right: 60px;
		margin-left: 60px;
	}
	.wrapper-main-content9{
		margin-left: 60px;
	}
	.slider-box{
		width: 300px;
		max-width: 100%;
		padding-bottom: 130px;
	}
	.cards-items img {
		width: 300px;
		height: 300px;
	}
	.red-block{
		width: 300px;
		height: 300px;
	}
	.left-img{
		margin-top: 50px;
	}
	.section-title{
		margin-top: 50px;
	}
	.desc__about-barber{
		margin-right: 30px;
	}
	.img-kate{
		display: none;
	}
	.double-photo{
		margin-right: 0;
		margin-left: 0;
	}
	.desc__info{
		font-size: 14px;
	}
	.desc__info2{
		font-size: 14px;
	}
	.list-of-true li{
		font-size: 14px;
	}
	.hide-text{
		padding-top: 40px;
	}
	.info-franchi{
		margin-right: 60px;
		margin-left: 30px;
	}


	.header-menu ul li{
		margin-right: 25px;
	}


	.section-title{
		margin-left: 60px;
		font-size: 28px;
	}
	.section-title3{
		font-size: 28px;
	}
	.section-title4{
		font-size: 28px;
	}
	.section-title5{
		font-size: 28px;
	}
	.section-title6{
		padding-top: 0;
		font-size: 28px;
	}
	.section-title7{
		font-size: 28px;
	}
	.section-title8{
		font-size: 28px;
	}
	.section-title9{
		font-size: 28px;
	}
	.section-title3{
		margin-left: 60px;
	}
	.wrapper-double{
		display: flex;
		flex-direction:column;
		align-items:center;
	}
	.first-list{
		margin-left: 0;
		margin-right: 0;
	}
	.second-list{
		margin-right: 0;
	}
	.left-img{
		display: none;
	}
	.desc__about-barber{
		margin-left: 30px;
		padding-bottom: 30px;
	}
	.main-content9{
		flex-wrap:wrap;
	}

	.popup-window{
		text-align: center;
		width: 500px;
		max-width: 100%;
	}
	.popup-window input{
		width: 250px;
		max-width: 100%;
	}
	.popup-window textarea{
		width: 290px;
		max-width: 100%;
	}
	.yellow-block2{
		width: 300px;
		height: 50px;
		transform:rotate(0);
		margin-top: 40px;

	}
	.lists-container{
		margin-left: 60px;
		position: static;
	}
	.main-content-page2{
		display: block;
	}
	.name-vacan{
		font-size: 16px;
	}
	.titile__main-content-page2{
		margin-left: 15px;
		font-size: 30px;
	}
	.head-page2{
	}
	.prev{
		font-size: 14px;
	}
	.section-title6{
	}


	.imglo{
		display: none;
	}
	.main-wrapper10{
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.section-title10{
		margin-left: 10px;
		font-size: 26px;
	}
	.second-title{
		margin-right: 10px;
		font-size: 12px;
	}
	.masters-work-slogan{
		font-size: 14px;
	}
	.barber-master-card{
	}
	.list-of-skills li{
		font-size: 14px;
	}
	.desc-of-list{
		margin-right: 30px;
		margin-left: 30px;
		font-size: 14px;
	}
	#first-word{
		font-size: 14px;
	}
	#second-word{
		font-size: 14px;
	}
	.text-info-of-school{
		font-size: 14px;
	}
	.desc-of-list{
		text-align: center;
		margin-top:50px;
	}
	.title-block10{
	}



}













@media (min-width: 768px) and (max-width: 991.98px) { 


	.main-content1{
		display: none;
	}
	.main-content1-main-tablet{
		display: block;
	}


	.masters{
		margin-right: 30px;
		margin-bottom: 30px;
	}

	.img img {
		width: 330px;
		height: 330px;
	}

	#burg{
		display: block;
	}


	.header-menu{
		display: none;
	}
	.mobile-header-menu {
		display: block;
	}

	.text__main-content6{
		margin-right: 60px;
		font-size: 14px;
	}

	.wrapper-main-content5{
		justify-content:center;
		margin-left: 60px;
	}
	.photos-container{
	width: 650px;
	}
	.desc__about-barber{
		margin-right: 60px;
	}



	.first-list{
		margin-left: 60px;
	}
	.second-list{
		margin-right: 60px;
	}

	.desc__about-barber{
		margin-top: 20px;
		font-size: 14px;
	}

	.logo{
		margin-left: 60px;
	}
	.main-content1__title{
		text-align: center;
		margin-left: 0;
	}
	.left-img{
		margin-left: 60px;
	}
	.separating-line{
		width: 330px;
	}
	.section-title3{
		margin-left: 60px;
	}
	.section-title5{
		margin-left: 60px;
	}
	.section-title6{
		margin-left: 60px;
	}
	.section-title7{
		margin-left: 60px;
	}
	.double-photo{
		margin-left: 60px;
	}
	.section-title8{
		margin-left: 60px;
	}
	.img{
		margin-left: 60px;
	}
	.section-title9{
		margin-left: 60px;

	}
	.google-map{
		margin-right: 60px;
	}
	.wrapper-main-content9{
		margin-left: 60px;
	}
	.slider-box{
		width: 650px;
		max-width: 100%;
		padding-bottom: 100px;
	}
	.cards-items img {
		width: 210px;
		height: 210px;
	}
	.red-block{
		width: 210px;
		height: 210px;
	}
	.left-img{
		margin-top: 50px;
	}
	.section-title{
		margin-top: 50px;
	}
	.img-kate{
		display: none;
	}
	.double-photo{
		margin-right: 0;
		margin-left: 0;
	}
	.desc__info{
		font-size: 14px;
	}
	.desc__info2{
		font-size: 14px;
	}
	.list-of-true li{
		font-size: 14px;
	}
	.hide-text{
		font-size: 12px;
		padding-top: 20px;
	}
	.info-franchi{
		margin-right: 60px;
		margin-left: 30px;
	}


	.header-menu ul li{
		margin-right: 25px;
	}


	.section-title{
		font-size: 48px;
	}
	.section-title3{
		font-size: 48px;
	}
	.section-title4{
		margin-right: 60px;
		font-size: 48px;
	}
	.section-title5{
		font-size: 48px;
	}
	.section-title6{
		font-size: 48px;
	}
	.section-title7{
		font-size: 48px;
	}
	.section-title8{
		font-size: 48px;
	}
	.section-title9{
		font-size: 48px;
	}
	.popup-window{
		width: 700px;
	}
	.popup-window input{
		width: 450px;
	}
	.popup-window textarea{
		width: 490px;
	}
	.yellow-block2{
		width: 400px;

	}
	.titile__main-content-page2{
		margin-left: 40px;
		font-size: 50px;
	}


	.imglo{
		display: none;
	}
	.main-wrapper10{
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.section-title10{
		font-size: 38px;
	}
	.second-title{
		margin-right: 30px;
		font-size: 14px;
	}
	.masters-work-slogan{
		font-size: 14px;
	}
	.barber-master-card{
	}
	.list-of-skills li{
		font-size: 14px;
	}
	.desc-of-list{
		margin-right: 30px;
		margin-left: 30px;
		font-size: 14px;
	}
	#first-word{
		font-size: 14px;
	}
	#second-word{
		font-size: 14px;
	}
	.text-info-of-school{
		font-size: 14px;
	}
	.desc-of-list{
		text-align: center;
		margin-top:50px;
	}
	.main-wrapper10{
	}





}

@media (min-width: 992px) and (max-width: 1127px) {

	.hide-text{
		padding-top: 40px;
	}
	.info-franchi{
		margin-right: 60px;
	}


	.header-menu ul li{
		margin-right: 25px;
	}


	.section-title{
		font-size: 48px;
	}
	.section-title3{
		font-size: 48px;
	}
	.section-title4{
		font-size: 48px;
	}
	.section-title5{
		font-size: 48px;
	}
	.section-title6{
		font-size: 48px;
	}
	.section-title7{
		font-size: 48px;
	}
	.section-title8{
		font-size: 48px;
	}
	.section-title9{
		font-size: 48px;
	}
	.yellow-block2{
		width: 450px;

	}
	.titile__main-content-page2{
		font-size: 50px;
	}
	.imglo{
		display: none;
	}
	.main-wrapper10{
		justify-content: space-around;
	}
	.section-title10{
		margin-left: 50px;
		font-size: 48px;
	}
	.second-title{
		margin-right: 50px;
		font-size: 14px;
	}
	.masters-work-slogan{
		font-size: 14px;
	}
	.list-of-skills li{
		font-size: 14px;
	}
	.desc-of-list{
		margin-right: 30px;
		margin-left: 30px;
		font-size: 14px;
	}
	#first-word{
		font-size: 14px;
	}
	#second-word{
		font-size: 14px;
	}
	.text-info-of-school{
	}
	.logo{
		margin-left: 60px;
	}
	
}

@media (min-width: 1024px) and (max-width: 1220px) {

	.logo{
		margin-left: 60px;
	}


	}

@media screen and (max-width: 1230px) {

	.block{
		display: none;

	}
	.block2{
		display: none;
	}




}






@media screen and (max-width: 1440px) {

	.main-content1{
		margin-left: 0;
		margin-right: 0;
	}
	.main-content2{
		margin-left: 0;
		margin-right: 0;
	}
	.main-content3{
		margin-left: 0;
		margin-right: 0;

	}
	.main-content4{
		margin-left: 0;
		margin-right: 0;

	}
	.main-content5{
		margin-left: 0;
		margin-right: 0;

	}
	.main-content6{
		margin-left: 0;
		margin-right: 0;

	}
	.main-content7{
		margin-left: 0;
		margin-right: 0;

	}
	.main-content8{
		margin-left: 0;
		margin-right: 0;

	}
	.main-content9{
		margin-left: 0;
		margin-right: 0;

	}
	.main-content10{
		margin-left: 0;
		margin-right: 0;

	}
	.container-page2{
		margin-left: 0;
		margin-right: 0;
	}
	.main-content-10{
		margin-right: 0;
		margin-left: 0;
	}
	.background-wrapper{
		margin-left: 0;
		margin-right: 0;
	}
	.block2{
		margin-right: 20px;
	}
	.info-of-school{
	width: 1000px;		
	}
	.wrapper-info-of-school{
		display: flex;
		justify-content:center;
	}
	#center-img{
		width: 70px;
		height: 31px;
	}
	.barber-master-card{
	}
	.barber-master-card img {
	}
	.header-menu{
		margin-right: 0;
	}

}


@media (min-width: 1440px) and (max-width: 1700px) {
	.container-page2{
		margin-left: 50px;
		margin-right: 50px;
	}


	.main-content1{
		margin-left: 50px;
		margin-right: 50px;
	}
	.main-content2{
		margin-left: 50px;
		margin-right: 50px;
	}
	.main-content3{
		margin-left: 50px;
		margin-right: 50px;

	}
	.main-content4{
		margin-left: 50px;
		margin-right: 50px;

	}
	.main-content5{
		margin-left: 50px;
		margin-right: 50px;

	}
	.main-content6{
		margin-left: 50px;
		margin-right: 50px;

	}
	.main-content7{
		margin-left: 50px;
		margin-right: 50px;

	}
	.main-content8{
		margin-left: 50px;
		margin-right: 50px;

	}
	.main-content9{
		margin-left: 50px;
		margin-right: 50px;

	}
	.background-overlay{
	}
	.main-content-10{
		margin-right: 50px;
		margin-left: 50px;
	}

	.container-main10{
	}
	.block2{
		margin-right: 70px;
	}
	.block{
	}
	.background-wrapper{
		margin-right: 50px;
		margin-left: 50px;
	}
	.info-of-school{
	width: 1000px;		
	}
	.wrapper-info-of-school{
		display: flex;
		justify-content:center;
	}
	#center-img{
		width: 70px;
		height: 31px;
	}




	}